body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin: 25px;
}

p {
  margin: 10px;
}

.card-doughnut{
  align-items: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 300px;
}

input {
  margin: 25px 0 0 50px;
  padding: 10px;
}

button {
  margin: 25px 0 0 50px;
  padding: 10px;
}
