body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin: 25px;
}

p {
  margin: 25px;
}

.card-doughnut{
  align-items: center;
  display: flex;
  flex-direction: column;
}
